<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tradutor Cifra de Cesar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/master.css">
    <link rel="stylesheet" href="../public/css/cesar.css">
    <script src="../scripts/cesarTranslator.js"></script>
</head>
<body>
    <header>
        <div class="titulo-site">
            <h1>Tradutor <br> de <br> Criptografias</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <img class="imagem-navmenu" src="../public/images/cifraCesar.png" alt="Icone da Cifra de Cesar">
                    <p class="texto-navitem">Cifra de Cesar</p>
                </li>
            </ul>
        </nav>
        <div class="rodape">
            <p>Maycon Santos Barbieri</p>
        </div>
    </header>

    <section>
        <div class="historia">
            <div class="textos-historia">
                <h1>Cifra de Cesar</h1>
                <p>Júlio César, imperador romano de 100 a.C. a 44 a.C., utilizava um código para proteger as mensagens enviadas a seus generais. Assim, se a mensagem caísse em mãos inimigas, a informação não poderia ser compreendida. Cada letra do alfabeto era substituída pela letra três posições à frente, ou seja, o “A” era substituído pelo “D”, o “B” pelo “E”, o “C” pelo “F”, e assim sucessivamente. Qualquer código que tenha esse padrão é considerado uma Cifra de César, também conhecida como Código de César.</p>
            </div>
            <div class="imagens-historia">
                <img src="../spublic/images/cifraCesar.png" alt="Cifra de Cesar">
            </div>
        </div>

        <div class="tradutor">
            <form action="submit">
                <div class="form-textos">
                    <div class="form-input">
                        <div>
                            <label class="input-textobase" for="mensagem">Mensagem</label>
                            <div class="form-senha">
                                <label class="texto-senha" for="senha">Chave</label>
                                <input class="input-senha" type="number" value="1" min="1" max="25" name="senha" id="chave">
                            </div>
                        </div>
                        <textarea class="input-texto" name="mensagem" id="txt-mensagem"></textarea>
                        <div id="botao-criptografar">
                            <input class="botao" type="button" onclick="criptografar()" value="Criptografar">
                        </div>
                    </div>
                    <div class="form-input">
                        <div>
                            <label class="input-textobase" for="resultado">Resultado</label>
                        </div>
                        <textarea class="input-texto" name="resultado" id="txt-resultado"></textarea>
                        <div>
                            <input class="botao" type="button" onclick="descriptografar()" value="Descriptografar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>