

.historia{
    height: 250px;
    display: flex;
    background-color: #D9D9D9;
}

.textos-historia{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
}

.textos-historia h1{
    font-size: 2em;
    color: #060A7D;
    font-weight: bold;
    margin-top: 20px;
}

.textos-historia p{
    margin: 0px;
}

.imagens-historia{
    margin: 30px;
    flex: 0.25;
}

.imagens-historia img{
    width: 80%;
    height: 80%;
    margin: auto;
}

