<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/master.css">
</head>
<header>
    <div class="titulo-site">
        <h1>Tradutor <br> de <br> Criptografias</h1>
    </div>
    <nav>
        <ul>
            <li>
                <% if(menu.item == "cesar") { %>
                <a class="selected" href="/cesar">
                    <img class="imagem-navmenu" src="../../public/images/cifraCesar.png" alt="Icone da Cifra de Cesar">
                    <p class="texto-navitem">Cifra de Cesar</p>
                </a> 
                <% } else { %>
                <a class="" href="/cesar">
                    <img class="imagem-navmenu" src="../../public/images/cifraCesar.png" alt="Icone da Cifra de Cesar">
                    <p class="texto-navitem">Cifra de Cesar</p>
                </a>
                <% } %>
            </li>
            <li>
                <% if(menu.item == "vigenere") { %>
                <a class="selected" href="/vigenere">
                    <img class="imagem-navmenu" src="../../public/images/cifraVigenere.png" alt="Icone da Cifra de Vigenere">
                    <p class="texto-navitem">Cifra de Vigenere</p>
                </a> 
                <% } else { %>
                <a class="" href="/vigenere">
                    <img class="imagem-navmenu" src="../../public/images/cifraVigenere.png" alt="Icone da Cifra de Vigenere">
                    <p class="texto-navitem">Cifra de Vigenere</p>
                </a>
                <% } %>
            </li>
        </ul>
    </nav>
    <div class="rodape">
        <p>Maycon Santos Barbieri</p>
    </div>
</header>